body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 20px 0;
    color: #333;
}

#video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

#video {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #333;
}

#result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#result {
    font-size: 1.5em;
    font-weight: bold;
    color: #008080;
    background-color: #e0f7fa;
    border: 2px solid #008080;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #005f5f;
}
