body{
    margin: 0;
    padding: 0;
    background-color:#022816;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
}

.container {
    width: 100%;
}

#video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 35px;
}

video, img {
    width: 100%;
    height: auto;
}

#speak-button {
    background-color: rgba(76, 175, 80, 0.8);
    color: white;
    border: none;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#speak-button i {
    font-size: 36px;
}

#result-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.4);
}

.result {
    margin: 0 10px;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-size: 22px;
    color: white;
}